@media (min-width:768px){

#menuButton{

display:none;

}

nav{

display:flex;

flex-direction:row;

padding:0;

}

.hero{

padding:6rem 2rem;

}

.search-area{

flex-direction:row;

}

.search-area input{

flex:1;

}

.course-grid {
        /* Permite que o grid crie colunas de no mínimo 230px que se adaptam automaticamente */
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    }

.tech-grid{

grid-template-columns:repeat(3,1fr);

}

.hero {
        min-height: 500px; /* Aumenta a altura da imagem de fundo no desktop */
        padding: 5rem 2rem;
    }

    .hero-content, 
    .hero-image {
        flex: 1;
    }

    .hero .search-area {
        margin: 0;
    }

}

@media (min-width: 768px) {
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: left;
    padding: 3rem 4rem;
}

.footer-info {
    justify-self: start;
}

.footer-social {
    justify-self: center;
    display: flex;
    gap: 1rem;
}

.footer-credits {
    justify-self: end;
    text-align: right;
}
}